# Folders to ignore
.hg
.svn
.CVS
.idea
tmp
utils
css
inventarios
certificado_factura
images
min

#######
system/cache
system/codeigniter
system/database
system/fonts
system/helpers
system/language
system/libraries
system/logs
system/plugins
system/scaffolding

##################
system/application/config
system/application/datamapper
system/application/errors
system/application/helpers
system/application/language
system/application/libraries
